/* Some basic rules for the overall body of the document */
body {

	overflow:visible;
	word-wrap:break-word;
	background-color: #f1f0eb;	
}

/* centers the main image */

#mainImage img {
	display: block;
    margin-left: auto;
    margin-right: auto
}

/* h2 will be used for main page headers */

h2 {
	padding-top: 2em;
	text-align: center;
	color: #336699;
	font-size: 2em;
	font-family: sans-serif;
}

/* some basic style for the main body */
.rightText {
	padding-left: 25%;
	padding-right: 10%;
	padding-top: 2.2em;
	font-variant: small-caps;
}

.rightText p {
	color:  #834C24;
	font-family: monospace;
	font-size: 1.5em;
}

.leftText {
	float: left;
}

.leftText {
	color: #990033;
	font-size: 3em;
}